*{
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
.header{
    background-color: #FFFFFF;
    padding: 8px;
    margin: 0% 0% 0% 0%;
}
.padre{
    margin: 120px 500px 100px 500px;
    width: 500px;
}
.hermano{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 5px;
}
.mayor{
    
}
.menor{
    color: #a7a5a5;
}
.g-p{
    padding: 8px;
    background-color: #FFFFFF;
}